# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
build/
*.exe
*.zip
*.dmg
*.pkg

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build.log
pack_log.txt

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/
.agent/

# Environment
.env
.env.local
